html,
body {
  height: 100%;
}


body {
  font-family: 'Days One', sans-serif;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 27px;
  overflow-x: hidden;
  min-width: 320px;
  background-color: #F8F8F8;
}

a {
  color: #000;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.main {
  flex: 1 0 auto;
}

.footer {
  flex: 0 0 auto;
}

.container {
  max-width: 1120px;
  margin: 0 auto;
  padding: 0 10px;
}

.container-wrapper {
  max-width: 1400px;
  padding: 0 10px;
  margin: 0 auto;
}

footer {
  background-color: #fff;
  padding-top: 120px;
}