@import 'global';
@import 'vars';
@import 'reset';
@import 'fonts';

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}


//HEADER

.top-header {
  background-color: #1E6140;

  &__wrapper {
    display: flex;
    justify-content: space-between;
    padding-top: 14px;
    padding-bottom: 15px;
  }

  &__menu {
    display: flex;
    position: relative;
  }

  &__menu::after {
    position: absolute;
    content: "";
    width: 12px;
    height: 12px;
    background-image: url("../images/arrow-down-sign-to-navigate\ \(10\)\ 8.svg");
    left: 0;
    top: 9px;
  }

  &__menu-link,
  &__logo-link {
    color: #FFF;
    padding: 20px 25px;
    position: relative;
  }

  &__menu-link:hover,
  &__logo-link:hover {
    background-color: rgba(255, 255, 255, 0.10);
    transition: all .5s ease;
  }

  &__logo {
    position: relative;
  }

  &__logo::after {
    position: absolute;
    content: "";
    width: 20px;
    height: 20px;
    background-image: url("../images/log-out\ \(1\)\ 1.svg");
    left: 0;
    top: 3px;
  }

  &__burger {
    display: none;
  }
}


@media(max-width:1113px) {
  .top-header__logo::after {
    left: -8px;
    top: 4px;
  }

  .top-header__menu-link,
  .top-header__logo-link {
    padding: 20px 16px;
  }
}

@media(max-width:998px) {
  .top-header__menu {
    display: grid;
    position: relative;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
  }

  .top-header__menu::after {
    left: 43px;
  }
}

@media(max-width:819px) {
  .top-header__menu {
    grid-template-columns: 1fr 1fr;
    text-align: left;
  }

  .top-header__menu::after {
    left: 98px;
  }
}

@media(max-width:608px) {

  .top-header__menu-link,
  .top-header__logo-link {
    padding: 17px 11px;
    font-size: 14px;
  }

  .top-header__logo::after {
    left: -13px;
    top: 5px;
  }

  .top-header__menu::after {
    left: 83px;
    top: 7px;
  }
}

@media(max-width:512px) {

  .top-header__menu-link,
  .top-header__logo-link {
    font-size: 12px;
  }

  .top-header__menu::after {
    left: 74px;
    top: 8px;
  }
}

@media(max-width:454px) {

  .top-header__menu-link,
  .top-header__logo-link {
    padding: 10px 14px;
  }

  .top-header__menu {
    display: none;
  }

  .top-header__logo {
    margin-left: 20px;
  }

  .top-header__wrapper {
    align-items: center;
  }

  .top-header__burger {
    display: block;
    width: 20px;
    height: 20px;
  }
}

@media(max-width:342px) {
  .top-header__wrapper {
    justify-content: space-around;
  }


}

//HEADER NAVIGATION
.nav-header {
  padding-top: 20px;

  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }

  &__search-text {
    border-radius: 90px;
    border: 1px solid rgba(0, 0, 0, 0.20);
    background: #FFF;
    padding: 10px 33px;

  }

  &__search {
    position: relative;
  }

  &__search::after {
    position: absolute;
    content: "";
    width: 15px;
    height: 15px;
    background-image: url("/images/loupe\ \(15\)\ 1.svg");
    top: 18px;
    right: 18px;
  }

  &__search::before {
    position: absolute;
    content: "";
    width: 1px;
    height: 28px;
    background-color: rgba(0, 0, 0, 0.20);
    right: 48px;
    top: 10px;
  }

  &__contacts {
    display: flex;
    width: 255px;
    justify-content: space-evenly;
    align-items: center;
  }

  &__contacts-link {
    width: 40px;
    height: 40px;
    border: 1px solid #8C3213;
    border-radius: 50%;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__contacts-link:hover {
    background-color: #8C3213;
  }

  &__contacts-link:hover path {
    fill: white;
    transition: all .5s ease;
  }

  &__phone-info {
    display: flex;
    flex-direction: column;
  }

  &__phone {
    color: #000;
    position: relative;
  }

  &__phone::after {
    position: absolute;
    content: "";
    width: 12px;
    height: 11px;
    top: 9px;
    right: 0;
    background-image: url("../images/arrow-down-sign-to-navigate\ \(10\)\ 8.svg");
  }

  &__callback {
    border: none;
    background-color: transparent;
    font-weight: 700;
    color: #84BE51;
    border-bottom: 2px solid #84BE51;
    line-height: 15px;
  }

  &__list {
    display: flex;
    align-items: center;
  }

  &__link {
    margin-left: 10px;
    margin-right: 5px;
    box-shadow: none;
  }

  &__link {
    width: 40px;
    height: 40px;
    border: 1px solid #8C3213;
    border-radius: 50%;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__link:hover {
    background-color: #8C3213;
    transition: all .5s ease;
  }

  &__link:hover path {
    fill: white;
    transition: all .5s ease;

  }
}

.shopping-price {
  font-weight: 700;
}

@media(max-width:933px) {
  .nav-header__wrapper {
    display: flex;
    justify-content: space-around;
    align-items: self-end;
    margin-bottom: 40px;
    flex-wrap: wrap;
  }

  .nav-header__list {
    margin-top: 20px;
  }

  .nav-header__wrapper {
    margin-bottom: 23px;
  }
}

@media(max-width:513px) {
  .nav-header__contacts {
    margin-top: 20px;
  }

  .nav-header__search {
    margin-top: 20px;
  }
}

@media(max-width:360px) {
  .nav-header__logo img {
    width: 106px;
  }

  .shopping-price {
    font-size: 12px;
  }

  .nav-header__list {
    margin: 0;
  }

  .nav-header__link {
    margin-left: 0;
  }

  .nav-header__search,
  .nav-header__contacts {
    display: none;
  }

  .nav-header__list a:first-child {
    display: none;
  }


}

//BANNER

.banner {
  background-image: url(../images/bannerbg.avif);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 9;

  &__wrapper {
    padding-right: 20px;
  }

  &__menu {
    display: flex;
    align-items: center;
    flex-wrap: wrap;

  }

  &__menu-link:not(:first-child) {
    margin-left: 20px;
  }

  &__menu-link {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 13px;
    color: #000;
    line-height: 1;
    padding-left: 9px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    border: 1px solid #1E6140;
    width: 204px;
    height: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 14px;
  }

  &__menu-link span {
    margin-left: 10px;
  }

  &__menu-link:hover path {
    fill: #F8F8F8;
    transition: all .5s ease;
  }

  &__menu-link:hover {
    background-color: #e74e13;
    color: #FFF;
    border: 1px solid #e74e13;
    transition: all .5s ease;
  }

  &__container-wrapper {
    display: flex;
    margin-top: 108px;

  }

  &__img-wrapper {
    order: 2;
    position: relative;
  }

  &__img-wrapper::after {
    position: absolute;
    content: '';
    background-image: url(../images/pngwing\ 2.avif);
    background-repeat: no-repeat;
    background-size: contain;
    width: 246px;
    height: 178px;
    top: -95px;
    right: 0;
  }

  &__img-wrapper::before {
    position: absolute;
    content: '';
    background-image: url(../images/Group\ 2384.avif);
    background-repeat: no-repeat;
    background-size: contain;
    width: 246px;
    height: 209px;
    bottom: 12%;
    right: 82%;
  }

  &__wrapper {
    max-width: 605px;
    padding-left: 44px;
  }

  &__title {
    color: #000;
    font-family: Montserrat;
    font-size: 55px;
    font-weight: 300;
    line-height: 1;
    position: relative;
  }

  &__title::before {
    position: absolute;
    content: '';
    width: 32px;
    height: 25px;
    background-image: url(../images/Vector.svg);
    top: 21px;
    left: -41px;

  }

  &__descr {
    color: rgba(0, 0, 0, 0.50);
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 400;
    margin-top: 28px;
    margin-bottom: 23px;
  }
}

.btn-banner-mobile {
  display: none;
}

.btn {
  border: none;
  background-color: #E74E13;
  color: #FFF;
  border-radius: 90px;
  text-align: center;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 700;
  padding: 10px 50px;
}


// about
.about {
  padding-bottom: 108px;
  padding-top: 108px;
  background: #F8F8F8;

  &__container-wrapper {
    display: flex;
  }

  &__img {

    background-size: contain;
    background-repeat: no-repeat;
  }

  &__info {
    padding-left: 19px;
    max-width: 540px;
  }

  &__title {
    color: #000;
    font-family: Montserrat;
    font-size: 45px;
    font-weight: 700;
    position: relative;
    margin-bottom: 60px;
  }

  &__title::after {
    position: absolute;
    content: "";
    background-image: url(../images/Vector.avif);
    width: 32px;
    height: 25px;
    left: -46px;
    top: 4px;
  }

  &__descr {
    color: rgba(0, 0, 0, 0.50);
    margin-bottom: 18px;
    line-height: 1.2;
  }

  &__descr b {
    color: #1E6140;
    font-weight: 700;
  }
}

.btn-about {
  margin-top: 25px;
}




@media(max-width:1596px) {
  .banner__img {
    min-height: 580px;
  }

  .banner__img::before {

    right: 478px;
  }
}

@media(max-width:1418px) {
  .banner__img {
    min-height: 515px;
  }
}

@media(max-width:1260px) {
  .banner__img {
    min-height: 434px;
  }

  .banner__img::before {
    bottom: 25px;
    right: 381px;
  }

  .banner__title {
    font-size: 42px;
  }

  .banner__descr {
    font-size: 16px;
  }
}


@media(max-width:1147px) {
  .banner__menu {
    display: flex;
    align-items: end;
    flex-wrap: wrap;
    justify-content: center;
    gap: 9px;

  }

  .banner__menu-link:not(:first-child) {
    margin-left: 0;
  }

  .banner__descr {
    font-size: 16px;
  }

  .banner__img {
    margin-top: 30px;
  }

  .banner__img-wrapper::before {
    width: 200px;
  }

  .banner__img-wrapper::after {
    width: 206px;
    top: -52px;
  }

  .banner__container-wrapper {
    margin-top: 60px;
  }
}

@media(max-width:1022px) {
  .banner__img-wrapper::before {
    width: 170px;
  }

}

@media(max-width:884px) {
  .banner__container-wrapper {
    flex-direction: column;
  }

  .btn-banner {
    display: none;
  }

  .btn-banner-mobile {
    width: 100%;
    order: 2;
    margin-top: 45px;
    display: block;
  }

}

@media(max-width:538px) {
  .banner__img {
    min-height: 343px;
  }
}

@media(max-width:458px) {
  .banner__menu-link {
    width: 100%;
  }

  .banner__img {
    min-height: 230px;
  }
}

@media(max-width:360px) {
  .banner__title {
    font-size: 25px;
  }

  .banner__menu-link {
    justify-content: flex-start;
    width: 90%;
  }

  .banner__descr {
    font-size: 16px;
    margin: 0;
  }

}

// About media
@media(max-width:884px) {
  .about__container-wrapper {
    flex-direction: column;
    align-items: center;
  }

  .about__info {
    margin-top: 30px;
  }

  .about__title {
    font-size: 33px;
    margin-bottom: 20px;
  }

  .btn-about {
    width: 100%;
  }
}

//NEW 

.new {
  &__title {
    color: #000;
    font-family: Montserrat;
    font-size: 45px;
    font-weight: 700;
    text-align: center;
    position: relative;
    margin-bottom: 40px;
    margin-left: 20px;
    margin-right: 20px;
  }

  &__title-wrapper {
    justify-content: center;
    display: flex;
    align-items: baseline;
  }


  &__list {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
  }

  &__item {
    border-radius: 20px;
    background-color: #FFF;
    position: relative;
  }

  &__item::after {
    position: absolute;
    content: "";
    background-image: url(../images/comparison1.svg);
    width: 16px;
    height: 16px;
    right: 22px;
    top: 18px;
  }

  &__item:hover {
    box-shadow: 0px 0px 23px 0px rgba(0, 0, 0, 0.15);
    cursor: pointer;
    transition: all .5s ease;
  }

  &__item-img {
    padding: 31px 79px;
  }

  &__item-descr {
    border-radius: 20px;
    background: rgba(140, 50, 19, 0.06);
    padding: 21px 19px 29px 21px;
    margin: 10px;
  }

  &__item-name {
    font-weight: 600;
    font-size: 16px;
  }

  &__item-stock {
    color: #1E6140;
  }

  &__item-price {
    color: #84BE51;
    font-size: 18px;
    font-weight: 700;
    position: relative;
  }

  &__item-price::after {
    position: absolute;
    content: "";
    width: 60px;
    height: 60px;
    background-image: url(../images/newbasket.svg);
    right: -8px;
    bottom: -29px;
  }

  &__slider {
    position: relative;
  }

  &__btn-prev {
    position: absolute;
    left: 1%;
    top: 35%;
    background-color: transparent;
    border: none;
  }

  &__btn-next {
    position: absolute;
    right: 1%;
    top: 36%;
    background-color: transparent;
    border: none;
  }

  &__navigation {
    margin: 0 auto;
    margin-bottom: 120px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 70px;
  }

  &__navigation-dot {
    width: 6px;
    height: 16px;
    border-radius: 20px;
    background: rgba(141, 50, 0, 0.10);
  }

  &__navigation-dot-active {
    width: 6px;
    height: 30px;
    border-radius: 20px;
    background: #8D3200;
  }

}

//SALE

.sale {
  background-image: url(../images/bgsale.avif);
  background-size: cover;
  background-repeat: no-repeat;

  &__title {
    color: #000;
    font-family: Montserrat;
    font-size: 45px;
    font-weight: 700;
    text-align: center;
    position: relative;
    margin-bottom: 40px;
    padding-top: 112px;
    margin-left: 20px;
    margin-right: 20px;
  }

  &__title-wrapper {
    justify-content: center;
    display: flex;
    align-items: baseline;
  }

  &__list {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
  }

  &__item {
    width: 255px;
    border-radius: 20px;
    background-color: #FFF;
    position: relative;
  }

  &__item:hover {
    box-shadow: 0px 0px 23px 0px rgba(0, 0, 0, 0.15);
    cursor: pointer;
    transition: all .5s ease;
  }

  &__item::after {
    position: absolute;
    content: "";
    background-image: url(../images/comparison1.svg);
    width: 16px;
    height: 16px;
    right: 22px;
    top: 18px;
  }

  &__item-img {
    padding: 31px 79px;
  }

  &__item-descr {
    border-radius: 20px;
    background: rgba(140, 50, 19, 0.06);
    padding: 21px 19px 29px 21px;
    margin: 10px;
  }

  &__item-name {
    font-weight: 600;
    font-size: 16px;
  }

  &__item-stock {
    color: #1E6140;
  }

  &__item-price {
    color: #84BE51;
    font-size: 18px;
    font-weight: 700;
    position: relative;
  }

  &__item-price::after {
    position: absolute;
    content: "";
    width: 60px;
    height: 60px;
    background-image: url(../images/newbasket.svg);
    right: -8px;
    bottom: -29px;
  }

  &__slider {
    position: relative;

  }

  &__btn-prev {
    position: absolute;
    left: 1%;
    top: 35%;
    background-color: transparent;
    border: none;
  }

  &__btn-next {
    position: absolute;
    right: 1%;
    top: 36%;
    background-color: transparent;
    border: none;
  }


  &__navigation {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 70px;
  }

  &__navigation-dot {
    width: 6px;
    height: 16px;
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.20);
  }

  &__navigation-dot-active {
    width: 6px;
    height: 30px;
    border-radius: 20px;
    background: #FFFFFF;
  }

  &__btn {
    text-align: center;
    margin-top: 40px;
    padding-bottom: 117px;
  }
}


//PARTNER

.partner {
  margin-bottom: 115px;

  &__title {
    color: #000;
    font-family: Montserrat;
    font-size: 45px;
    font-weight: 700;
    text-align: center;
    position: relative;
    margin-bottom: 40px;
    padding-top: 112px;
    margin-left: 20px;
    margin-right: 20px;
  }

  &__title-wrapper {
    justify-content: center;
    display: flex;
    align-items: baseline;
  }


  &__slider {
    position: relative;

  }

  &__btn-prev {
    position: absolute;
    left: 1%;
    top: 28px;
    background-color: transparent;
    border: none;
    z-index: 5;
  }

  &__btn-next {
    position: absolute;
    right: 1%;
    top: 28px;
    background-color: transparent;
    border: none;
    z-index: 5;
  }

  &__list {
    display: flex;
    justify-content: space-between;
  }

  &__navigation {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 70px;
    margin-top: 40px;
  }

  &__navigation-dot {
    width: 6px;
    height: 16px;
    border-radius: 20px;
    background: rgba(141, 50, 0, 0.20);
  }

  &__navigation-dot-active {
    width: 6px;
    height: 30px;
    border-radius: 20px;
    background: #8D3200;
  }

  &__btn {
    text-align: center;
    margin-top: 40px;
    padding-bottom: 117px;
  }
}

//SEEDS DESCR
.seeds {
  background-image: url(../images/seedbg.avif);
  min-height: 624px;
  background-repeat: no-repeat;
  background-size: cover;

  &__info {
    padding-top: 109px;

  }

  &__title {
    color: #FFF;
    font-family: Montserrat;
    font-size: 45px;
    font-weight: 700;

    margin-bottom: 20px;
    padding-left: 49px;
    position: relative;
  }

  &__title::before {
    position: absolute;
    content: "";
    background-image: url(../images/Vector.avif);
    width: 32px;
    height: 25px;
    left: 0;
    top: 4px;
  }

  &__descr {
    color: #FFF;
    margin-bottom: 20px;
    line-height: 1.4;
  }
}

@media(max-width:886px) {
  .seeds__info {
    padding-top: 54px;
  }
}

@media(max-width:726px) {
  .seeds__info {
    padding-bottom: 34px;
  }
}

//FOOTER

.footer {
  &__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 118px;


  }

  &__logo,
  &__info,
  &__products,
  &__contacts-list {
    margin-right: 20px;
  }

  &__logo-descr {
    max-width: 220px;
    margin-top: 15px;
  }

  &__info-title,
  &__products-title,
  &__contacts-title {
    color: #000;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 26px;
  }

  &__products-item,
  &__info-item {
    margin-bottom: 15px;
  }

  &__contacts-info {
    display: flex;
    flex-direction: column;
  }

  &__contacts {
    display: flex;
    align-items: center;
  }

  &__contacts-link {
    width: 40px;
    height: 40px;
    border: 1px solid #8C3213;
    border-radius: 50%;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
  }

  &__contacts-link:hover {
    background-color: #8C3213;
    transition: all .5s ease;
  }

  &__contacts-link:hover path {
    fill: #fff;
    transition: all .5s ease;
  }

  &__phone-info {
    display: flex;
    flex-direction: column;
  }

  &__phone {
    color: #000;
    position: relative;
  }

  &__phone::after {
    position: absolute;
    content: "";
    width: 12px;
    height: 11px;
    top: 9px;
    right: 0;
    background-image: url("../images/arrow-down-sign-to-navigate\ \(10\)\ 8.svg");
  }

  &__callback {
    border: none;
    background-color: transparent;
    font-weight: 700;
    color: #84BE51;
    border-bottom: 2px solid #84BE51;
    line-height: 15px;
  }

  &__email-info {
    display: flex;
    align-items: center;
    margin-top: 20px;
  }

  &__email-info a {
    color: #000;
  }

  &__email-link {
    width: 40px;
    height: 40px;
    border: 1px solid #8C3213;
    border-radius: 50%;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
  }

  &__email-link:hover {
    background-color: #8C3213;
  }

  &__email-link:hover path {
    fill: white;
    transition: all .5s ease;
  }

  &__copyright {
    text-align: center;
    padding-bottom: 17px;
    padding-top: 17px;
    border-top: 1px solid rgba(0, 0, 0, 0.20);
    width: 100%;
  }

  &__copyright-wrapper {
    display: flex;
    align-items: flex-end;
  }

  &__arrow-img {
    margin-left: 15px;
    background-repeat: no-repeat;
    background-position: right bottom;
  }
}

//FOOTER MEDIA
@media(max-width:944px) {

  .footer__contacts-info {
    display: flex;
  }
}

@media(max-width:886px) {
  .footer {
    padding-top: 50px;

  }

  .footer__wrapper {
    padding-bottom: 0;
  }
}

@media(max-width:726px) {
  .seeds__info {
    padding-bottom: 34px;
  }
}

//PROTECT

.protect {
  margin-top: 53px;
  margin-bottom: 122px;

  &__breadcrumbs {
    display: flex;
    margin-top: 46px;
    justify-content: space-between;
    max-width: 483px;
    margin: 0 auto;
  }

  &__breadcrumbs-item {
    color: rgba(0, 0, 0, 0.50);
    font-size: 18px;
    font-weight: 400;
  }

  &__breadcrumbs-item-active {
    color: rgba(0, 0, 0, 0.50);
    font-size: 18px;
    font-weight: 700;
  }

  &__title {
    color: #000;
    font-family: Montserrat;
    font-size: 45px;
    font-weight: 700;
    text-align: center;
    position: relative;
    margin-bottom: 37px;
    margin-top: 33px;
    margin-right: 20px;
    margin-left: 20px;
  }

  &__title-wrapper {
    justify-content: center;
    display: flex;
    align-items: baseline;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    gap: 23px;
  }

  &__item {
    position: relative;
  }

  &__item-effect {
    position: absolute;
    opacity: 0;
    bottom: 0;
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.80);
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    color: #000;
    width: 256px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__item-effect:hover {
    opacity: 1;
    transition: all .5s ease;

  }

  &__info {
    background-image: url(../images/protectbg.avif);
    background-size: cover;
    background-repeat: no-repeat;
  }

  &__info-wrapper {
    padding-top: 109px;
    padding-bottom: 108px;
    margin-bottom: 122px;
  }

  &__info-title {
    position: relative;
    color: #FFF;
    font-size: 45px;
    font-weight: 700;
    padding-left: 42px;
    margin-bottom: 34px;
  }

  &__info-title::after {
    position: absolute;
    content: "";
    left: 0;
    background-image: url(../images/Vector.avif);
    width: 32px;
    height: 25px;
  }

  &__info-text {
    margin-bottom: 16px;
    color: #FFF;
    line-height: 1.4;
  }
}

//  Catalog2
.protect {
  &__catalog-wrapper {
    display: grid;
    grid-template-columns: 255px max-content;
    margin-bottom: 120px;
  }

  &__filters {
    margin-top: -66px;
  }

  &__filters-inner {
    margin-right: 30px;
  }

  &__filters-descr {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-bottom: 10px;
  }

  &__filters-text {
    margin-bottom: 20px;
  }

  &__filters-sort {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 260px;
    border-radius: 20px;
    border: 1px solid rgba(0, 0, 0, 0.20);
    padding: 9px 19px 9px 40px;
  }

  &__filters-sort-text {
    color: #484848;
    font-weight: 600;
    position: relative;
  }

  &__filters-sort-text:after {
    position: absolute;
    content: "";
    width: 1px;
    height: 28px;
    background: rgba(0, 0, 0, 0.20);
    right: -112px;
  }

  &__filter-box {
    border-radius: 20px;
    background: #FFF;
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.15);
    padding: 26px 28px 23px 30px;
    margin-bottom: 30px;
  }

  &__catalog-quantity-item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }

  &__catalog-name {
    color: rgba(0, 0, 0, 0.50);
  }

  &__catalog-name--active,
  &__catalog-name:hover {
    color: #84C551;
    font-weight: 700;
    cursor: pointer;
    transition: all .5s ease;
  }

  &__catalog-num {
    color: #E74E13;
    font-size: 12px;
  }

  &__filter legend {
    color: #FFF;
    font-weight: 600;
    border-radius: 20px 20px 0px 0px;
    background: #84BE51;
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.15);
    width: 100%;
    text-align: center;
    line-height: 3;
  }

  &__filter fieldset {
    padding: 0;
    margin: 0;
    border: none;
    fill: #FFF;
    box-shadow: (0px 0px 8px rgba(0, 0, 0, 0.15));
    border-radius: 20px;
  }

  &__filter h3 {
    color: #000;
    font-weight: 600;
    margin-top: 17px;
    margin-bottom: 13px;
    padding-left: 25px;
  }

  &__filter-option {
    padding-left: 25px;
    margin-bottom: 10px;
  }

  &__filter-list {
    padding-left: 20px;
  }

  &__filter-input-checkbox label {
    display: none;
  }

  &__catalog-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
    margin-left: 20px;

  }

  &__catalog-item {
    max-width: 255px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: #FFF;

  }

  &__catalog-item:hover {
    box-shadow: 0px 0px 23px 0px rgba(0, 0, 0, 0.15);
    cursor: pointer;
    transition: all .5s ease;
  }

  &__catalog-item::after {
    position: absolute;
    content: "";
    background-image: url(../images/comparison1.svg);
    width: 16px;
    height: 16px;
    right: 16px;
    top: 16px;
  }



  &__catalog-img {
    padding: 31px 79px;

  }

  &__catalog-price-descr {
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
  }

  &__catalog-descr {
    border-radius: 20px;
    background: rgba(140, 50, 19, 0.06);
    padding: 21px 19px 29px 21px;
    margin: 10px;
    display: flex;
    align-items: end;
    justify-content: space-around;
  }


  &__catalog-name {
    font-weight: 600;
    font-size: 16px;
  }

  &__catalog-price-wrapper {
    display: flex;
  }

  &__catalog-stock {
    color: #1E6140;
  }

  &__catalog-price {
    color: #84BE51;
    font-size: 18px;
    font-weight: 700;
  }

  &__catalog-link {
    width: 40px;
    height: 40px;
    border: 1px solid #8c3213;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__catalog-link:hover {
    background-color: #8C3213;
    transition: all .5s ease;
  }

  &__catalog-link:hover path {
    fill: white;
    transition: all .5s ease;
  }

  &__catalog-tablist {
    display: flex;
    width: 344px;
    justify-content: space-between;
    margin: 0 auto;
    margin-top: 47px;
  }

  &__catalog-tab {
    border-radius: 50%;
    border: 1px solid #E74E13;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #E74E13;
    font-size: 14px;
  }

  &__catalog-tab--active,
  &__catalog-tab:hover {
    color: #FFF;
    border: 1px solid #E74E13;
    background: #E74E13;
    box-shadow: 0px 5px 14px 0px rgba(140, 50, 19, 0.30);
    transition: all .5s ease;
  }

  &__btn-arrow-prev {
    margin-right: 25px;
  }

  &__btn-arrow-next {
    margin-left: 25px;
  }

  &__btn-arrow-prev,
  &__btn-arrow-next {
    border-radius: 50%;
    border: 1px solid #E74E13;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #E74E13;
    background-color: transparent;
  }

  &__btn-arrow-prev:hover,
  &__btn-arrow-next:hover {
    border: 1px solid #E74E13;
    background: #E74E13;
    transition: all .5s ease;
  }

  &__btn-arrow-prev:hover path,
  &__btn-arrow-next:hover path {
    fill: #FFF;
    transition: all .5s ease;
  }
}

.protect__filter-option label {
  position: relative;
  cursor: pointer;
  padding-left: 27px;
}

.protect__filter-input-checkbox:checked {
  color: #84BE51;
}

.protect__filter-input-checkbox:hover+label,
.protect__filter-input-checkbox:focus+label {
  color: green;
  transition: all .5s ease;
}

.protect__filter-input-checkbox+label::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 16px;
  height: 16px;
  border-radius: 3px;
  border: 1px solid #CCC;
}

.protect__filter-input-checkbox:checked+label::after {
  content: "";
  position: absolute;
  top: 4px;
  left: 4px;
  width: 9px;
  height: 9px;
  border-radius: 3px;
  background: #84C551;
}

// Slider

.new__slider-container {
  overflow: hidden;
}

.new__slide-track {
  transition: .5s ease;
}

.new__slide-item {
  min-width: 255px;
  margin-right: 30px;
}

.sale__slider-container {
  overflow: hidden;
}

.sale__slide-track {
  transition: .5s ease;
}

.sale__slide-item {
  min-width: 255px;
  margin-right: 30px;
}






// MEDIA Catalog 
@media(max-width:1142px) {
  .protect__list {
    justify-content: center;
  }
}

@media(max-width:680px) {
  .protect__list {
    margin-top: 35px;
  }
}

@media(max-width:465px) {
  .protect__list {
    margin-top: 60px;
  }
}

@media(max-width:344px) {
  .protect__list {
    margin-top: 53px;
  }

  .protect__title-wrapper svg {
    width: 18px;
  }

  .protect__info-title::after {
    top: 10px;
  }
}



//MEDIA catalog2 
@media(max-width:1142px) {

  .protect__catalog-wrapper {
    grid-template-columns: 1fr 2fr;
  }

  .protect__catalog-img {
    padding: 31px 55px;
  }
}

@media(max-width:1010px) {
  .protect__catalog-list {
    grid-template-columns: 1fr 1fr;
  }
}

@media(max-width:734px) {
  .protect__catalog-list {
    grid-template-columns: 1fr;
    gap: 0;
  }

  .protect__catalog-wrapper {
    grid-template-columns: 1fr 1fr;
  }
}

@media(max-width:680px) {
  .protect__title {
    margin-left: 8px;
    margin-right: 8px;
    margin-bottom: 0;
    font-size: 36px;
  }

  .protect__info-title {
    font-size: 32px;
    margin-bottom: 14px;
  }

  .protect__info-wrapper {
    padding-top: 50px;
    padding-bottom: 25px;
  }
}

@media(max-width:548px) {
  .protect__title {
    margin-left: 8px;
    margin-right: 8px;
    margin-bottom: -38px;
    font-size: 29px;
  }
}

@media(max-width:530px) {

  .protect__catalog-wrapper {
    display: block;
  }

  .protect__filters-inner {
    margin: 0;
  }

  .protect__catalog-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    margin-left: 0;
  }

  .protect__catalog-item {
    margin-bottom: 20px;
    width: 100%;
  }

  .protect__catalog-tablist {
    width: 295px;
    margin-top: 13px;
  }

  .protect__btn-arrow-prev {
    margin-right: 14px;
  }

  .protect__btn-arrow-next {
    margin-left: 14px;
  }

  .tab--three {
    display: none;
  }
}

@media(max-width:474px) {
  .protect__breadcrumbs {
    flex-wrap: wrap;
    justify-content: center;
    font-size: 17px;
  }

  .protect__breadcrumbs-item-active {
    font-size: 17px;
  }

  .protect__breadcrumbs-item a {
    margin-right: 12px;
  }

  .protect__info-title {
    font-size: 28px;
  }

  .protect__info-text {
    font-size: 14px;
  }
}

@media(max-width:429px) {
  .protect__filters-descr {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 23px;
  }
}

@media(max-width:374px) {
  .protect__title {

    font-size: 28px;
  }

  .protect__title-wrapper svg {
    width: 18px;
  }
}

@media(max-width:344px) {
  .protect__title-wrapper {
    align-items: baseline;
  }

  .protect__title-wrapper svg {
    width: 24px;
  }

  .protect__title {

    font-size: 20px;
    width: 60%;
    margin-top: 24px;
  }

  .protect__catalog-list {
    align-items: baseline;
  }

  .protect__catalog-tablist {
    width: 257px;
    margin: 0;
  }

  .protect__info-title {
    font-size: 22px;
    margin-bottom: 10px;
    line-height: 1;
  }

  .protect__info-wrapper {
    padding-top: 25px;
    padding-bottom: 14px;

  }

  .protect__info-text {
    margin-bottom: 9px;
    line-height: 1.4;
    font-size: 14px;
    width: 80%;
  }
}



// ORDER

.order {
  margin-top: 53px;
  margin-bottom: 27px;

  &__content {
    margin-bottom: 116px;

  }

  &__breadcrumbs {
    display: flex;
    margin-top: 46px;
    justify-content: space-between;
    max-width: 483px;
    margin: 0 auto;
  }

  &__breadcrumbs-item {
    color: rgba(0, 0, 0, 0.50);
    font-size: 18px;
    font-weight: 400;
  }

  &__breadcrumbs-item-active {
    color: rgba(0, 0, 0, 0.50);
    font-size: 18px;
    font-weight: 700;
  }

  &__title {
    color: #000;
    font-family: Montserrat;
    font-size: 45px;
    font-weight: 700;
    text-align: center;
    position: relative;
    margin-bottom: 37px;
    margin-top: 33px;
    margin-right: 20px;
    margin-left: 20px;
  }

  &__title-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }

  &__form-box {
    max-width: 540px;
  }

  &__contact-form::placeholder {
    color: #484848;
  }

  &__contact-form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px 30px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.20);
    padding-bottom: 31px;
    padding-top: 15px;
  }

  &__contact-form input {
    border-radius: 90px;
    border: 1px solid rgba(0, 0, 0, 0.20);
    background: #FFF;
    width: 255px;
    padding: 10px 19px;
    position: relative;

  }

  &__contact-form input::after {
    position: absolute;
    content: "";
    background-image: url(../images/arroworange.svg);
    width: 12px;
    height: 12px;
  }

  &__contact-form textarea {
    width: 100%;
    resize: none;
    border-radius: 20px;
    border: 1px solid rgba(0, 0, 0, 0.20);
    background: #FFF;
    padding-top: 10px;
    padding-left: 19px;
  }

  &__adress {
    padding-top: 31px;
  }

  &__adress-form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px 30px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.20);
    padding-bottom: 31px;
    padding-top: 15px;
  }

  &__adress-input {
    border-radius: 90px;
    border: 1px solid rgba(0, 0, 0, 0.20);
    background: #FFF;
    width: 255px;
    padding: 10px 19px;
    display: flex;
    justify-content: space-between;
    align-items: center;

  }

  &__adress-input input {
    border: none;
  }

  &__payment {
    padding-top: 26px;
  }

  &__payment h2 {
    margin-bottom: 10px;
  }

  &__filter-option label {
    position: relative;
    cursor: pointer;
    padding-left: 27px;
  }

  &__filter-input-radio:checked {
    color: #EC6523;
  }

  &__filter-input-radio:hover+label,
  &__filter-input-radio:focus+label {
    color: #EC6523;
    transition: all .5s ease;
  }

  &__filter-input-radio+label::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: 1px solid #EC6523;
  }

  &__filter-input-radio:checked+label::after {
    content: "";
    position: absolute;
    top: 4px;
    left: 4px;
    width: 9px;
    height: 9px;
    border-radius: 50%;
    background: #EC6523;
  }

  &__basket-product {
    border-radius: 20px;
    background: #FFF;
    padding: 26px 28px 29px 30px;
    margin-left: 30px;
  }

  &__product-content {
    margin-right: 20px;
  }

  &__products-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
  }

  &__products-item img {
    border-radius: 20px;
    background: #FFF;
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.15);
    padding: 11px 37px;
    margin-right: 20px;
  }

  &__product-price span {
    margin-left: 20px;
  }

  &__product-price {
    color: #84BE51;
    font-weight: 700;
  }

  &__total {
    border-radius: 20px;
    background: #21603F;
    padding: 24px 29px;
    margin-top: 30px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__total p {
    color: #FFF
  }

  &__total span {
    color: #84C551;
  }

  &__confirm-btn {
    width: 100%;
    cursor: pointer;
  }

  &__confirm-btn a {
    color: inherit;
  }
}

@media(max-width:930px) {
  .order__wrapper {
    flex-direction: column;
    align-items: center;
  }

  .order__basket-product {
    margin-left: 0;
    margin-top: 20px;
  }
}

@media(max-width:580px) {

  .order__contact-form,
  .order__adress-form {
    justify-content: center;
  }

  .order__contact-form input,
  .order__adress-form input,
  .order__adress-input {
    width: 100%;
  }
}

@media(max-width:467px) {

  .order__breadcrumbs {
    flex-wrap: wrap;
    justify-content: center;
    font-size: 17px;
  }

  .order__breadcrumbs-item-active {
    font-size: 17px;
  }

  .order__breadcrumbs-item {
    margin-right: 12px;
  }

  .order__total {
    flex-direction: column;
    align-items: flex-start;
    padding: 9px 24px;
  }

  .order__content {
    margin-bottom: 28px;
  }

  .order__title {
    font-size: 32px;
  }
}

// Thanks

.thanks {
  background-image: url(../images/thanksbg.avif);
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 624px;
  margin-top: 50px;

  &__content-wrapper {
display: flex;
    justify-content: center;
    padding-top: 208px;
    padding-bottom: 195px;


  }

 


&__title-wrapper {
  display: flex;
  align-items: start;
  justify-content: center;
}

&__title {
  font-size: 45px;
  font-weight: 700;
  color: #FFF;
  margin-bottom: 24px;
  margin-right: 10px;
  margin-left: 10px;
}

&__descr {
  font-size: 20px;
  color: #FFF;
  margin-bottom: 46px;
  text-align: center;


}

&__btn-list {
  display: flex;
  justify-content: space-between;
}
}
.continue-btn{
  margin-right: 10px;
}
.return-btn{
  margin-left: 10px;
}
.continue-btn,
.return-btn {
  border: 1px solid #E74E13;
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.15);
}

.continue-btn:hover,
.return-btn:hover {
  background-color: transparent;
  border: 1px solid #FFF;
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.15);
  transition: all .5s ease;
}

@media (max-width:710px) {
  .thanks__title {
    font-size: 32px;


  }

  .thanks__descr {
    font-size: 16px;
  }
}


@media (max-width:639px){
  .thanks__title{
    text-align: center;
    line-height: 1.2;
  }
  .thanks__btn-list{
    flex-direction: column;
    width: 100%;
   
}

.continue-btn{
  margin-right: 0;
  margin-bottom: 15px;
}
.return-btn{
  margin-left:0;
}

}
























// Modal

.modal {
  position: fixed;
  z-index: 10050;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: rgba(0, 0, 0, 0.70);
  display: none;
  padding: 0 20px;

  &__dialog {
    max-width: 1110px;
    margin: 160px auto;
  }

  &__close {
    position: absolute;
    content: "";
    cursor: pointer;
    width: 30px;
    height: 30px;
    right: 0;
    top: -40px;
    border: none;
    background-color: transparent;
  }

  &__close::after {
    transform: rotate(-45deg);
  }

  &__close::before {
    transform: rotate(45deg);
  }

  &__close::before,
  &__close::after {
    content: "";
    position: absolute;
    top: 10px;
    left: 2px;
    width: 30px;
    height: 3px;
    background-color: rgba(255, 255, 255, 0.60);
  }

  &__content {
    position: relative;
    width: 100%;
    padding: 50px 70px;
    background-image: url(../images/basketbg.avif);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 20px;
  }

  &__title {
    color: #000;
    font-family: Montserrat;
    font-size: 45px;
    font-weight: 700;
    position: relative;
    margin-bottom: 31px;
    padding-bottom: 39px;
    margin-left: 20px;
    margin-right: 20px;
    text-align: center;
    max-width: 516px;
  }


  &__title-wrapper {
    display: flex;
    justify-content: center;
    align-items: baseline;
  }

  &__title-descr {
    color: #000;
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 20px;
    border-top: 1px solid rgba(0, 0, 0, 0.10);
    padding-top: 20px;
  }

  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid rgba(0, 0, 0, 0.10);
    padding-bottom: 30px;
  }

  &__inner-content {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-left: 30px;
  }

  &__content-img {
    max-width: 285px;
    padding: 32px 98px;
    background-color: #FFF;
    border-radius: 20px;
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.15);
  }

  &__content-price {
    color: #84BE51;
    font-size: 25px;
    font-weight: 700;
  }

  &__content-price-descr {
    font-size: 14px;
  }

  &__content-produce {
    font-size: 14px;
    font-weight: 700;
    margin-top: 26px;
    color: #000;
  }

  &__content-produce-name {
    display: flex;
    align-items: center;
  }

  &__content-produce-descr {
    padding-left: 10px;
  }

  &__inner-right-content {
    max-width: 260px;
  }

  &__btn-list {
    display: flex;
    justify-content: space-between;
  }

  &__volume-nav {
    display: flex;
    justify-content: space-between;
    width: 260px;
    border-radius: 90px;
    border: 1px solid #E74E13;
    padding: 12px 21px;
  }

  &__volume-nav-btn {
    border: none;
    background-color: transparent;
    cursor: pointer;
  }

  &__volume-name {
    color: #E74E13;
    font-weight: 700;
  }

  &__quantity {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 19px;
  }

  &__quantity-title {
    color: #000;
    font-size: 16px;
    font-weight: 700;
  }

  &__quantity-counter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 107px;
  }

  &__quantity-minus,
  &__quantity-plus {
    width: 20px;
    height: 20px;
    cursor: pointer;
  }

  &__quantity-num {
    width: 47px;
    height: 47px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.20);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFF;
  }

  &__btn-list {
    padding-top: 30px;
  }

  &__btn-shopping,
  &__btn-order {
    background-color: transparent;
    color: #E74E13;
    font-weight: 700;
    border-radius: 90px;
    border: 1px solid #E74E13;
    padding: 12px 37px 13px 21px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 256px;
  }

  &__btn-shopping:hover,
  &__btn-order:hover {
    cursor: pointer;
    border: 1px solid #E74E13;
    background: #E74E13;
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.15);
    color: #FFF;
    transition: all .5s ease;
  }
}

.show {
  display: block
}

.hide {
  display: none
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: 0.1;
  }

  to {
    opacity: 1
  }
}


//MEDIA popup
@media (max-width:939px) {
  .modal {
    padding: 0 20px;
  }

  .modal__inner-content {
    display: block;
  }

  .modal__btn-list {
    padding-bottom: 20px;
  }

  .modal__content {
    padding: 25px 20px;

  }
}

@media (max-width:657px) {
  .modal__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .modal__inner-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    margin-left: 0;
  }

  .modal__title {
    font-size: 30px;
    padding-bottom: 20px;
  }

  .modal__inner-right-content {
    margin-top: 20px;
  }

  .modal__title-descr {
    font-size: 20px;
    text-align: center;
  }

  .modal__inner-right-content {
    margin-top: 20px;
  }

  .modal__btn-list {
    display: flex;
    flex-direction: column;
    align-items: center;
  }


  .modal__btn-shopping {
    margin-bottom: 10px;
  }
}

@media (max-width:374px) {
  .modal__title {
    font-size: 22px;
    padding-bottom: 5px;
  }

  .modal__title-descr {
    font-size: 16px;
    text-align: center;
    line-height: 1.2;
    padding-top: 10px;
  }

  .modal__inner-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    margin: 0 auto;
  }

  .modal__content-img {
    max-width: 204px;
    padding: 16px 63px;
  }

  .modal__content-price {
    font-size: 16px;
    margin-top: 8px;
  }

  .modal__content-produce {
    margin-top: 6px;
  }

  .modal__volume-nav {
    width: 226px;
  }

  .modal__quantity {
    justify-content: space-around;
  }

  .modal__btn-shopping,
  .modal__btn-order {
    padding: 9px 14px 13px 7px;
    width: 226px;
  }
}