//PERSONAL


.personal {
  margin-top: 53px;
  margin-bottom: 80px;
  background-image: url(../images/aboutbg.avif);
  background-repeat: no-repeat;
  background-size: cover;

  &__content {
    margin-bottom: 116px;

  }

  &__breadcrumbs {
    display: flex;
    margin-top: 46px;
    justify-content: space-between;
    max-width: 244px;
    margin: 0 auto;
  }

  &__breadcrumbs-item {
    color: rgba(0, 0, 0, 0.50);
    font-size: 18px;
    font-weight: 400;
  }

  &__breadcrumbs-item-active {
    color: rgba(0, 0, 0, 0.50);
    font-size: 18px;
    font-weight: 700;
  }

  &__title {
    color: #000;
    font-family: Montserrat;
    font-size: 45px;
    font-weight: 700;
    text-align: center;
    position: relative;
    margin-bottom: 37px;
    margin-top: 33px;
    margin-right: 20px;
    margin-left: 20px;
  }

  &__title-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__tabs {
    display: grid;
    grid-template-columns: 1fr 3fr;
  }

  &__tabs-list {
    border-radius: 20px;
    background: #FFF;
  }

  &__tabs-link {
    padding: 24px 19px;

  }

  &__tabs-link {
    display: flex;
    align-items: center;
  }

  &__tabs-item-descr {
    padding-left: 10px;

  }

  &__tabs-item:first-child:hover {
    background-color: #84C551;
    transition: all .3s ease;
    color: #fff;
    border-radius: 20px 20px 0 0;

  }

  &__tabs-item:last-child:hover {
    background-color: #84C551;
    transition: all .3s ease;
    color: #fff;
    border-radius: 0 0 20px 20px;

  }

  &__tabs-item:hover {
    background-color: #84C551;
    transition: all .3s ease;
    color: #fff;

  }

  &__tabs-link:hover {
    color: #fff;
  }

  &__tabs-link:hover path {
    fill: white;
    transition: all .5s ease;

  }

  &__tab-content-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    margin-left: 20px;
  }

  &__tab-content {
    border-radius: 20px;
    background: #1E6140;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  &__tab-content-descr {
    color: #FFF;
    font-weight: 700;
  }
}