// Pay
.pay {

  margin-top: 28px;
  margin-bottom: 110px;


  &__breadcrumbs {
    display: flex;
    margin-top: 46px;
    justify-content: space-evenly;
    max-width: 483px;
    margin: 0 auto;
  }

  &__breadcrumbs-item {
    color: rgba(0, 0, 0, 0.50);
    font-size: 18px;
    font-weight: 400;
  }

  &__breadcrumbs-item-active {
    color: rgba(0, 0, 0, 0.50);
    font-size: 18px;
    font-weight: 700;
  }

  &__maintitle {
    color: #000;
    font-family: Montserrat;
    font-size: 45px;
    font-weight: 700;
    text-align: center;
    position: relative;
    margin-bottom: 37px;
    margin-top: 33px;
    margin-right: 20px;
    margin-left: 20px;
  }

  &__title-wrapper {
    justify-content: center;
    display: flex;
    align-items: baseline;
  }

  &__title,
  &__delivery-title,
  &__pickup-title {
    font-size: 30px;
    font-weight: 600;
  }

  &__list,
  &__info-list {
    list-style: disc;
    margin-left: 22px;
  }

  &__info-list {
    margin-bottom: 13px;
  }

  &__item {
    margin-bottom: 10px;
  }

  &__list-descr {
    color: #1E6140;
    font-size: 18px;
    font-weight: 700;
    margin-top: 13px;
  }

  &__info-title {
    font-weight: 700;
    margin-top: 30px;
  }

  &__info-item {
    margin-bottom: 10px;
  }

  &__info-link {
    color: #1E6140;
    font-weight: 700;
    text-decoration: underline;
  }

  &__delivery-wrapper {
    margin-bottom: 74px;
  }

  &__delivery-title {
    margin-top: 70px;
    margin-bottom: 13px;
  }

  &__delivery-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__delivery-item-title {
    color: #1E6140;
    font-size: 18px;
    font-weight: 700;
  }

  &__delivery-item-content {
    line-height: 1.4;
    width: 541px;

  }

  &__delivery-item-content:first-child {
    margin-right: 20px;
    margin-bottom: 37px;
  }

  &__delivery-item-content:last-child {
    margin-left: 20px;
  }

  &__delivery-item-img {
    border-radius: 20px;
    background-size: contain;
  }


  &__pickup-adress {
    margin-top: 14px;
    margin-bottom: 24px;
  }

  &__pickup-adress-text {
    color: #1E6140;
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 24px;
  }

  &__pickup-adress-city {
    position: relative;
  }

  &__pickup-adress-list {
    margin-bottom: 13px;
  }

  &__pickup-adress-item {
    padding-left: 25px;
  }

  &__pickup-adress-city:before {
    position: absolute;
    content: "";
    width: 20px;
    height: 20px;
    background-image: url(../images/placeholder-filled-point\ \(23\)\ 1.svg);
    left: 0;
  }

  &__pickup-adress-schedule {
    position: relative;
  }

  &__pickup-adress-schedule:before {
    position: absolute;
    content: "";
    width: 20px;
    height: 20px;
    background-image: url(../images/back-in-time\ 1.svg);
    left: 0;
  }

  &__pickup-apologize {
    margin-bottom: 19px;
    margin-top: 10px;
  }
}
